<div class="chat-container">
  <div class="chat-messages">

    <div class="grid gap-y-2">

      <!-- chat messages -->
      <app-chat-message
        [text]="'Hola, ¿cómo estás?'"
      ></app-chat-message>

      <app-my-message
        [text]="'Hola, bien gracias. ¿Y tú?'"
      ></app-my-message>

      <app-typing-loader />

    </div>

  </div>

  <!-- Message Box -->
  <!-- <app-text-message-box
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessage($event)"
  /> -->
  <app-text-message-box-file
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessage($event)"
  />
</div>
